body {
    font-family: Arial, sans-serif;
    background-color: #eeeef0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

#video-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 800px;
    margin: 10px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    color: #333;
}

.video-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#size-dropdown,
#toggle-visibility-btn {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s;
}

#size-dropdown:hover,
#toggle-visibility-btn:hover {
    background-color: #e0e0e0;
}

#subtitle-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 800px;
    margin: 10px;
    box-sizing: border-box;
    
}

.control {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

#input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

#correct-subtitle {
    margin-top: 10px;
    color: #555;
}

#start-listening-btn {
    display: block;
    padding: 12px 24px;
    border-radius: 20px;
    border: none;
    background-color: aqua;
    color: black;
}

#practise {
    display: none;
}

#current-subtitle {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

#check-btn,
#skip-btn,
#prev-btn,
#next-btn,
#play-btn {
    padding: 10px;
    font-size: 18px;
    margin: 10px;
    background-color: #007bff; /* Màu nền cho nút */
    color: white; /* Màu chữ cho nút */
    border: none; /* Bỏ viền */
    border-radius: 5px; /* Bo góc */
    cursor: pointer; /* Con trỏ chuột */
}

#check-btn:hover,
#skip-btn:hover,
#prev-btn:hover,
#next-btn:hover,
#play-btn:hover {
    background-color: #0056b3; /* Màu nền khi hover */
}

#player {
    width: 100%;
    height: 514px;
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.check{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
